.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.darkBackground {
  background-color: darkgrey;
}

.whiteBackground {
  background-color: white;
}

#clickable {
  cursor: pointer;
  color: #0088cc;
}

#clickable:hover {
  text-decoration: underline;
}